<h1>Audience of the Ambassador</h1>
 <section class = "single-block" id="ambassador-audience">
 	<img src="assets/img/embassy/secretary.png" alt="Secretry">
 	<article class = "double-conversation" id="conversation">
 		<p><strong>Secretary:</strong> <span>I greet you in the embassy of Pattern City. With which ambassador should I organize an audience for you?</span></p>
 		<p>
 			<strong>You: </strong> 
 			<span>
 				<a href = "javascript:void(0);" onClick="callAmbassador('RussianAmbassador');" >1. I need to speak with Russian Ambassador.</a><br/>
 				<a href = "javascript:void(0);" onClick="callAmbassador('EnglishAmbassador');" >2. I need to speak with English Ambassador.</a><br/>
 				<a href = "javascript:void(0);" onClick="callAmbassador('GermanAmbassador');" >3. I need to speak with German Ambassador.</a><br/>
 				<a href = "javascript:void(0);" onClick="callAmbassador('FrenchAmbassador');" >4. I need to speak with French Ambassador.</a><br/>
 				<a href = "javascript:void(0);" data-remodal-action="cancel">5. Excuse me, there is no needed ambassador for me here. Bye!</a>
 			</span>
 		</p>
 	</article>
 </section>
<br>