<h1>Building</h1>
 <section id="building">

 	<article class="structure">
 		<img src="assets/img/building/house.png" alt="Chief Builder">
 		<aside class = "structure-settings">
 			<p class="structure-description">
 				A <strong>house</strong> is a building that functions as a home. The <strong>Minister of the Interior</strong> advises you to build this.
 			</p>
 			<div class="structure-params">
 				<table>
 					<tr>
 						<td>
 							<label>Insert roof type</label>
 						</td>
 						<td>
 							<input type="text" name="foofType">
 						</td>
 					</tr>
 					<tr>
 						<td>
 							<label>Insert walls height</label>
 						</td>
 						<td>
 							<input type="number" name="wallsHeight">
 						</td>
 					</tr>
 					<tr>
 						<td>
 							<label>Insert windows material</label>
 						</td>
 						<td>
 							<input type="text" name="windowsMaterial">
 						</td>
 					</tr>
 					<tr>
 						<td>
 							<label>Insert doors count</label>
 						</td>
 						<td>
 							<input type="text" name="doorsCount">
 						</td>
 					</tr>
 				</table>
 			</div>
 		</aside>
 	</article>

 	<article class="structure">
 		<img src="assets/img/building/hospital.png" alt="Chief Builder">
 		<aside class = "structure-settings">
 			<p class="structure-description">
 				A <strong>hospital</strong> is a health care institution providing patient treatment with specialized medical and nursing staff and medical equipment. <strong>The Minister of Health</strong> advises you to build this.
 			</p>
 			<div class="structure-params">
 				<table>
 					<tr>
 						<td>
 							<label>Insert roof type</label>
 						</td>
 						<td>
 							<input type="text" name="foofType">
 						</td>
 					</tr>
 					<tr>
 						<td>
 							<label>Insert walls height</label>
 						</td>
 						<td>
 							<input type="number" name="wallsHeight">
 						</td>
 					</tr>
 					<tr>
 						<td>
 							<label>Insert windows material</label>
 						</td>
 						<td>
 							<input type="text" name="windowsMaterial">
 						</td>
 					</tr>
 					<tr>
 						<td>
 							<label>Insert doors count</label>
 						</td>
 						<td>
 							<input type="text" name="doorsCount">
 						</td>
 					</tr>
 				</table>
 			</div>
 		</aside>
 	</article>

 	<article class="structure">
 		<img src="assets/img/building/supermarket.png" alt="Chief Builder">
 		<aside class = "structure-settings">
 			<p class="structure-description">
 				A <strong>supermarket</strong> is a self-service shop offering a wide variety of food and household products, organized into aisles. The <strong>Minister of Economy</strong> advises you to build this.
 			</p>
 			<div class="structure-params">
 				<table>
 					<tr>
 						<td>
 							<label>Insert roof type</label>
 						</td>
 						<td>
 							<input type="text" name="foofType">
 						</td>
 					</tr>
 					<tr>
 						<td>
 							<label>Insert walls height</label>
 						</td>
 						<td>
 							<input type="number" name="wallsHeight">
 						</td>
 					</tr>
 					<tr>
 						<td>
 							<label>Insert windows material</label>
 						</td>
 						<td>
 							<input type="text" name="windowsMaterial">
 						</td>
 					</tr>
 					<tr>
 						<td>
 							<label>Insert doors count</label>
 						</td>
 						<td>
 							<input type="text" name="doorsCount">
 						</td>
 					</tr>
 				</table>
 			</div>
 		</aside>
 	</article>
 	
 </section>
<br>
<section id="building-choose-actions">
		<button data-remodal-action="cancel" class="remodal-cancel">Not now</button>
		<button class="remodal-confirm" style = "padding-left: 10px; padding-right: 10px;" onclick="callBuildingSettingsHtml();">Let's get started then</button>
</section> 