<section id = "animation-content"> 
	
</section>

<section id = "construction-report"> 
	<h1>Сonstruction report</h1>
	<img id="completed-structure" src="assets/img/building/houseComplete.png" alt="Structure">
	<img id="clip" src="assets/img/building/clip.png" alt="Clip">
	<article id = "report-titleing">
		<h2>
			<span class = "report-title-key">Report no.</span>
			<span class = "report-title-value">3771-0d</span>
		</h2>
		<h2>
			<span class = "report-title-key">City:</span>
			<span class = "report-title-value">Pattern City</span>
		</h2>
		<h2>
			<span class = "report-title-key">Object:</span>
			<span class = "report-title-value" id = "structure-name">House</span>
		</h2>
		<h2 style = "height: 40px;">
			<span class = "report-title-key">Contractor:</span>
			<span class = "report-title-value">Progressive Pattern Ltd.</span>
		</h2>
		<h2>
			<span class = "report-title-key">Date:</span>
			<span class = "report-title-value" id = "structure-date">12.11.2017</span>
		</h2>
	</article>
	<table>
		<tr>
			<td>
				<img src="assets/img/building/roof.png" alt="Roof">
			</td>
			<td>
				<h2 id = "roof-report-text"></h2>
			</td>
		</tr>
		<tr>
			<td>
				<img src="assets/img/building/wall.png" alt="Walls">
			</td>
			<td>
				<h2 id = "walls-report-text"></h2>
			</td>
		</tr>
		<tr>
			<td>
				<img src="assets/img/building/window.png" alt="Windows">
			</td>
			<td>
				<h2 id = "windows-report-text"></h2>
			</td>
		</tr>
		<tr>
			<td>
				<img src="assets/img/building/door.png" alt="Doors">
			</td>
			<td>
				<h2 id = "doors-report-text"></h2>
			</td>	
		</tr>
	</table>
	
	<section id="building-actions">
		<button data-remodal-action="cancel" class="remodal-cancel">Close the report</button>
	</section>

</section>

<script>
	$(document).ready(function(){
		$('#animation-content').css("opacity", '1');
		setTimeout(function() {
			$('#animation-content').remove();
			$('#construction-report').fadeIn(400);
		}, 3500);
	})
</script>