<h1>Building</h1>
 <section class = "single-block" id="building">
	<img src="assets/img/building/chiefBuilder.png" alt="Chief Builder">
 	<article id="conversation">
 		<p><strong>Chief Builder:</strong> The city's municipality provided funding for the construction of one of the three buildings necessary for the city: a supermarket, a hospital or a house. The choice of the building is given to you, as an honorary resident of the city.</p>
 	</article>
 	
 </section>
<br>
<section id="building-actions">
		<button data-remodal-action="cancel" class="remodal-cancel">Not now</button>
		<button class="remodal-confirm" style = "padding-left: 10px; padding-right: 10px;" onclick="loadBuildingSettingsHtml();">Let's get started then</button>
</section> 