<h1>Building</h1>
<h2>Please choose one of three avaliable construction options</h2>
 <section id="building">

 	<article class="structure">
 		<form action="functions/app.php">
 			<input type="hidden" name="buildType" value = "house">
 			<img src="assets/img/building/house.png" alt="Simple house">
 			<aside class = "structure-settings">
 				<p class="structure-description">
 					A <strong>house</strong> is a building that functions as a home. The <strong>
 					Minister of the Interior</strong> advises you to build this.
 				</p>
 				<div class="structure-params">
 					<table>
 						<tr>
 							<td>
 								<label>Insert roof type</label>
 							</td>
 							<td>
 								<input type="text" name="roofType">
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<label>Insert walls height</label>
 							</td>
 							<td>
 								<input type="number" name="wallsHeight" min="10" placeholder = "10">
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<label>Insert windows material</label>
 							</td>
 							<td>
 								<input type="text" name="windowsMaterial">
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<label>Insert doors count</label>
 							</td>
 							<td>
 								<input type="text" name="doorsCount" min="2" placeholder="2">
 							</td>
 						</tr>
 					</table>
 				</div>
 			</aside>
 		</form>
 	</article>

 	<article class="structure">
 		<form action="functions/app.php">
 			<input type="hidden" name="buildType" value = "hospital">
 			<img src="assets/img/building/hospital.png" alt="City hospital">
 			<aside class = "structure-settings">
 				<p class="structure-description">
 					A <strong>hospital</strong> is a health care institution providing patient treatment
 					 with specialized medical and nursing staff and medical equipment. <strong>
 					 The Minister of Health</strong> advises you to build this.
 				</p>
 				<div class="structure-params">
 					<table>
 						<tr>
 							<td>
 								<label>Insert roof type</label>
 							</td>
 							<td>
 								<input type="text" name="roofType">
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<label>Insert walls height</label>
 							</td>
 							<td>
 								<input type="number" name="wallsHeight" min="17" placeholder = "17">
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<label>Insert windows material</label>
 							</td>
 							<td>
 								<input type="text" name="windowsMaterial">
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<label>Insert doors count</label>
 							</td>
 							<td>
 								<input type="text" name="doorsCount" min="8" placeholder="8">
 							</td>
 						</tr>
 					</table>
 				</div>
 			</form>
 		</aside>
 	</article>

 	<article class="structure">
 		<form action="functions/app.php">
 			<input type="hidden" name="buildType" value = "supermarket">
 			<img src="assets/img/building/supermarket.png" alt="District supermarket">
 			<aside class = "structure-settings">
 				<p class="structure-description">
 					A <strong>supermarket</strong> is a self-service shop offering a wide variety of 
 					food and household products, organized into aisles. The <strong>Minister of Economy
 					</strong> advises you to build this.
 				</p>
 				<div class="structure-params">
 					<table>
 						<tr>
 							<td>
 								<label>Insert roof type</label>
 							</td>
 							<td>
 								<input type="text" name="roofType">
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<label>Insert walls height</label>
 							</td>
 							<td>
 								<input type="number" name="wallsHeight" min="20" placeholder = "20">
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<label>Insert windows material</label>
 							</td>
 							<td>
 								<input type="text" name="windowsMaterial">
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<label>Insert doors count</label>
 							</td>
 							<td>
 								<input type="text" name="doorsCount" min="6" placeholder="6">
 							</td>
 						</tr>
 					</table>
 				</div>
 			</form>
 		</aside>
 	</article>
 	
 </section>
<br>
<section id="building-choose-actions">
		<button class="remodal-cancel" onClick="loadBuildingHtml();">Back</button>
		<button class="remodal-confirm disabled" style = "padding-left: 10px; padding-right: 10px;" onclick="callBuilding();">Let's get started then</button>
</section> 