<h1>Discovering a new technology</h1>
 <section class = "single-block" id="laboratory">
	<img src="assets/img/laboratory/scientist.png" alt="Main scientist">
 	<article id="conversation">
 		<p id = "scientist-text"><strong>Main scientist:</strong> Pattern City is famous for its scientific discoveries in the field of military technology, medicine and social sciences! Our government once again allocated funding for a new study. Will you join us?</p>
 	</article>
 	
 </section>
<br>
<section id="building-actions">
		<button data-remodal-action="cancel" class="remodal-cancel">I should go</button>
		<button class="remodal-confirm" onclick="loadScienceSettingsHtml();">Let me think...</button>
</section> 