<section class = "animation-content" id = "reseaching">
	
</section>

<section class = "single-block after-animation" id="research-content">
	<section id = "research-report">
		<h1>The new technology was explored!</h1>
		<img src="assets/img/laboratory/missilery.png" alt="New Technology">
		<article class="tech-description">
			<h2>Plastics</h2>
			<p>Read more about explored technology in our full report right <a href="" target="_blank">here</a>!</p>
		</article>
	</section>
	<section id="research-choose-actions">
		<button class="remodal-confirm other" onclick="loadScienceSettingsHtml();">Search the new one</button>
		<button data-remodal-action="cancel" class="remodal-cancel">Close the report</button>
	</section> 
</section>