<h1>Discovering a new technology</h1>
<h2>Please, choose one of thee avaliable scientific directions</h2>

<section class = "single-block" id="sciense-directions">
	<article class="direction" data-direction = "War">
		<img src="assets/img/laboratory/war.png" alt="War direction">
		<aside class="description">
			<p class="desc-text">
				<strong>War direction</strong>
				 is the application of technology for use in warfare. It comprises the kinds of technology that are distinctly military in nature and not civilian in application, usually because they lack useful or legal civilian applications.
			</p>
			<p class="value-text">
				<strong>Search method: </strong><span>Modeling</span><br/>
				<strong>Research time: </strong><span>Two years</span><br/>
			</p>
		</aside>
	</article>
	<article class="direction" data-direction = "Social">
		<img src="assets/img/laboratory/social.png" alt="Social direction">
		<aside class="description">
			<p class="desc-text">
			<strong>Social direction</strong>
			 is applying technology for specific social purposes: to ease social procedures via social software and social hardware, which might include the use of computers and information technology for governmental procedures, etc.</p>
			<p class="value-text">
				<strong>Search method: </strong><span>Abstraction</span><br/>
				<strong>Research time: </strong><span>One year</span><br/>
			</p>
		</aside>
	</article>
	<article class="direction" data-direction = "Medicine">
		<img src="assets/img/laboratory/medicine.png" alt="Medicine direction">
		<aside class="description">
			<p class="desc-text">
			<strong>Medicine direction</strong>
			 is defined by the World Health Organization as the "application of organized knowledge and skills in the form of devices, medicines, vaccines, procedures and systems developed to solve a health problem and improve quality of lives".</p>
			<p class="value-text">
				<strong>Search method: </strong><span>Laboratory Experience</span><br/>
				<strong>Research time: </strong><span>Five years</span><br/>
			</p>
		</aside>
	</article>
</section>
<section id="research-choose-actions">
		<button class="remodal-cancel" onclick="loadMainScientistHtml();">Back</button>
		<button class="remodal-confirm disabled" onclick="callLaboratory();">I'm ready</button>
</section> 