/*[--------------
 * 0. Global styles
 *--------------]
 */

*{
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

input{
	text-indent: 5px;
    padding: 3px 0px;
}

.acception{
	border: 2px solid gold;;
}

.disabled{
	background: #eee !important;
    color: #ccc !important;
}

.black{
	background: #4b4e53;
}

.cian{
	background: #66acb4;
}

.orange{
	background: #e18a29;
}

.padding-bottom-55{
	padding-bottom: 55px !important;
}

.pink{
	background: #ec7162;
}

.red{
	background: #c83605;
}

.skyblue{
	background: #6fc5e8;
}

.yellow{
	background: #f2bb56;
}

#main{
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
}

#main header > h1.main-title, h2.subtitle{
	margin: 100px auto;
	text-align: center;
}

#main header > h2.subtitle{
	margin-top: 20px;
}

#main header > h1.main-title{
	margin-bottom: 20px;
}

.warning{
	border: 2px solid #ef5350;
}

.warning-text{
    color: red;
    font-size: 11px;
	margin: 0px;
}

.wrapper{
    height: 300px;
    max-width: 590px;
    margin: 0 auto;
    width: 100%;
}

/*[--------------
 * 0.1 Patterns
 *--------------]
 */

#main #patterns > .wrapper .pattern{
    border-radius: 5%;
    -webkit-box-shadow: 4px 4px 74px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 4px 4px 74px 3px rgba(0,0,0,0.35);
    box-shadow: 4px 4px 74px 3px rgba(0,0,0,0.35);
    cursor: pointer;
    display: inline-block;
    height: 240px;
	max-width: 260px;
	position: relative;
    width: 100%;
    overflow: hidden;
}

#main #patterns > .wrapper .pattern:hover{
	-webkit-box-shadow: 4px 4px 74px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 4px 4px 74px 3px rgba(0,0,0,0.55);
    box-shadow: 4px 4px 74px 3px rgba(0,0,0,0.55);
	padding: 25px;
}

#main #patterns > .wrapper .pattern:active{
	-webkit-box-shadow: 4px 4px 74px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 74px 3px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 74px 3px rgba(0,0,0,0.1);
	padding: 0px;
}

#main #patterns > .wrapper .pattern:nth-child(odd){
	float: left;
}

#main #patterns > .wrapper .pattern:nth-child(even){
	float: right;
}

/*[--------------
 * 1. Pattern's image
 *--------------]
 */


#main #patterns > .wrapper .pattern img{
    display: block;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
}

#main #patterns > .wrapper .pattern:hover img{
	height: 10px;
    margin-top: 10px;
	width: 220px;
	opacity: 0;
}

#main #patterns > .wrapper .pattern:active img{
	height: 0px;
	margin-top: 30px;
	width: 180px;
}

/*[--------------
 * 2. Pattern's heading h2
 *--------------]
 */

#main #patterns > .wrapper .pattern h2{
	opacity: 0;
}

#main #patterns > .wrapper .pattern:hover h2{
	 opacity: 1;
}

#main #patterns > .wrapper .pattern:active h2{
	font-size: 1.4em;
	padding: 0px 10px;
}

/*[--------------
 * 3. Pattern's go div
 *--------------]
 */

#main #patterns > .wrapper .pattern div.go{
	margin: 0 auto;
	margin-top: 50px;
	height: 30px;
	width: 100%;
}

#main #patterns > .wrapper .pattern:active div.go{
    margin-top: 40px;
	width: 90%;
}

#main #patterns > .wrapper .pattern div.go h3{
	color: #fff;
	line-height: 30px;
	text-align: center;
}

/*[--------------
 * 4 Single block for all pattern's modal window's content
 *--------------]
 */

.single-block #conversation{
 	float: right;
    max-width: 430px;
    width: 100%;
}

.single-block #conversation.bottom{
    float: none;
    max-width: none;
    width: 100%;
}


.single-block img{
	float: left;
	height: 200px;
	margin-top: 17px;
	width: 200px;
}

 /*[--------------
 * 4.1 Double conversation with anyone
 *--------------]
 */

.double-conversation#conversation{
	margin-top: 35px;
}

.double-conversation#conversation p{
 	display: inline-block;
    float: left;
    font-size: 20px;
    margin: 0px;
    margin-top: 5px;
    text-align: left;
    padding-left: 20px;
}

.double-conversation#conversation p strong{
 	float: left;
 	margin-right: 5px;
    min-width: 86px;
}

.double-conversation#conversation p span{
 	float: right;
    max-width: 287px;
}

.double-conversation#conversation p span a{
	color: #000;
 	text-decoration: none;
}

.double-conversation#conversation p span a:hover{
	color: #66bb6a;
 	text-decoration: none;
}

.double-conversation#conversation p span a:last-child:hover{
	color: #ef5350;
}

 /*[--------------
 * 5 Mayor meeting
 *--------------]
 */

#mayor-meeting{
    width: 100%;
    height: 200px;
}

#mayor-meeting #conversation p{
    display: inline-block;
    float: left;
    font-size: 22px;
    padding-left: 20px;
    text-align: left;
    margin: 18% 0px;
}

 /*[--------------
 * 5.1 Government meeting
 *--------------]
 */

#government-meeting #conversation{
	font-size: 21px;
}

#government-meeting #conversation p{
	text-align: left;
}


/*[--------------
 * 6. Building
 *--------------]
 */
#animation-content{
    background-size: cover !important;
    background-position: center !important;
    border-radius: 100%;
    display: block;
	height: 400px;
    margin: 0 auto;
    transition: opacity 4.3s ease-in-out;
	-webkit-transition: opacity 4.3s ease-in-out;
	-moz-transition: opacity 4.3s ease-in-out;
	-o-transition: opacity 4.3s ease-in-out;
    opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    -webkit-opacity: 0;
    width: 400px;
}

#construction-report{
	display: none;
    margin: 0 auto;
}

#construction-report img#completed-structure{
	position: absolute;
    height: 150px;
    object-fit: cover;
    right: 20px;
    top: 7px;
    width: 200px;
    z-index: -1;
}

#construction-report img#clip{
    position: absolute;
    right: 75px;
    top: -45px;
    width: 70px;
    z-index: -1;
}

#construction-report #report-titleing{
	margin: 0 auto;
    padding: 0px 28%;
    width: 50%;
}

#construction-report #report-titleing h2{
	font-size: 17px;
    height: 20px;
    margin: 10px auto;
    width: 62%;
}

#construction-report #report-titleing h2 span.report-title-key{
	float: left;
}

#construction-report #report-titleing h2 span.report-title-value{
    float: right;
    text-align: left;
    width: 100px;
}

#construction-report table{
	margin: 0 auto;
    width: 80%;
}

#construction-report table img{
	height: 100px;
	width: 100px;
}

#construction-report table h2{
    display: inline-block;
	font-size: 20px;
    padding-left: 15px;
    text-align: left;
}

#building-choose-actions{
	float: right;
}

#building #conversation p{
 	font-size: 19px;
    margin: 12% 0px;
    padding-left: 20px;
    text-align: left;
}

#building .structure{
	border-top: 2px solid mediumturquoise;
	cursor: pointer;
	display: block;
	height: 200px;
	padding-bottom: 10px;
}

#building .structure:last-child{
	border-bottom: 2px solid mediumturquoise;
}

#building .structure:hover{
	background: #eee;
}

#building .structure.structure-active{
	background: #FFFF66;
    border-top: 2px solid transparent;
    box-shadow: 3px 6px 95px 18px gold;
}

#building .structure img{
	clear: both;
    float: left;
    height: 170px;
    width: 170px;
}

#building .structure .structure-settings{
	float: right;
	font-size: 16px;
    max-width: 448px;
    text-align: left;
    width: 100%;
}

#building .structure .structure-settings .structure-params table tr td label{
	cursor: pointer;
	padding-right: 10px;
}

/*[--------------
 * 7. Emergency
 *--------------]
 */

#emergency #emergencyImage{
    float: none;
}

/*[--------------
 * 7. Mass Media
 *--------------]
 */

#mass-media #conversation p span a #partyName{
	border: none;
    font-size: 17px;
    width: 38%;
}

#mass-media #conversation p span a:hover #partyName{
	color:#66bb6a;
}

#mass-media #conversation p span a:hover #partyName::-webkit-input-placeholder{
	color:#66bb6a;
}

#mass-media #conversation p span a:hover #partyName::-moz-placeholder{
	color:#66bb6a;
} 

#mass-media #conversation p span a:hover #partyName:-moz-placeholder{
	color:#66bb6a;
}

#mass-media #conversation p span a:hover #partyName:-ms-input-placeholder{
	color:#66bb6a;
}




