<h1>Calling to emergency</h1>
 <section class = "single-block" id="emergency-calling">
 	<img src="assets/img/emergency/operator.png" alt="Operator">
 	<article class = "double-conversation" id="conversation">
 		<p><strong>Operator:</strong><span>Emergency service, your incident address?</span></p>
 		<p><strong>You: </strong><span>34-B, Pattern Drive</span></p>
 		<p><strong>Operator:</strong><span>Got it, what happened?</span></p>
 		<p>
 			<strong>You: </strong> 
 			<span>
 				<a href = "javascript:void(0);" onClick="callEmergency('fire');" >1. My house in fire!</a><br/>
 				<a href = "javascript:void(0);" onClick="callEmergency('bandit');" >2. I was attacked by bandit!</a><br/>
 				<a href = "javascript:void(0);" onClick="callEmergency('illness');" >3. I feel bad, I need a doctor!</a><br/>
 				<a href = "javascript:void(0);" data-remodal-action="cancel">4. I'm okay, excuse me.</a>
 			</span>
 		</p>
 	</article>
 </section>
<br>