<h1>Making a celebration</h1>
 <section class = "single-block" id="mass-media">
 	<img src="assets/img/massMedia/animator.png" alt="Animator">
 	<article class = "double-conversation" id="conversation">
 		<p><strong>Jessey the<br/>Animator:</strong> <span style = "padding-top: 25px;">Hey, hello! It's good that you came. Look, it's been quiet lately. Let's arrange a party? Can you help me come up with a name of it? I will take care of myself about the rest!</span></p>
 		<p>
 			<strong>You: </strong> 
 			<span>
 				<a href = "javascript:void(0);" onclick="callMassMedia();">1. I'm in! Maybe we will call this party as <input type="text" name="partyName" id="partyName" placeholder="party name">?</a><br/>
 				<a href = "javascript:void(0);" data-remodal-action="cancel">2. Sounds good, but maybe later?</a>
 			</span>
 		</p>
 	</article>
 </section>
<br>

<script type = "text/javascript">
	$(document).ready(function(){
		$("#partyName").click(function(e){
			e.stopPropagation();
		});
	});
</script>