<h1>Resent news of Pattern City</h1>
<h1 id = "date">Thursday, August, 24, 2017</h1>
<section id="tags">
	<span>Choosen tags:</span>
	<span>#Celebration</span>
	<span>#party</span>
	<span>#ILOVEPARTIES</span>
	<span>#good_time</span>
	<span id="party-name"></span>
	<span>#City</span>
	<span>#Tod@y</span>
</section>
<section class = "single-block" id="mass-media">
	<img id = "pcb-image" src="" alt="Blog">
	<article class="list">
		<p id = "pcb"><strong>PCB blog:</strong> <span style = "padding-top: 25px;"></span><p class = "time" id="pcb-time"></p></p>
	</article>
	<img id = "pc-24-image" src="" alt="Reporter">
	<article class="list">
		<p id = "pc-24"><strong>PC-24 reporter:</strong> <span style = "padding-top: 25px;"></span><p class = "time" id = "pc-24-time">12:20</p></p>
	</article>
</section>
<br>
<section id="massMedia-actions">
		<button data-remodal-action="cancel" class="remodal-cancel">Close the news</button>
</section> 
