<h1>Resent news of Pattern City</h1>
<h1>Thursday, August, 24, 2017</h1>
<section id="tags">
	<span>Choosen tags:</span>
	<span>#Celebration</span>
	<span>#party</span>
	<span>#ILOVEPARTIES</span>
	<span>#good_time</span>
	<span>#City</span>
	<span>#Tod@y</span>
</section>
<section class = "single-block" id="mass-media">
	<img id = "pc-24-image" src="" alt="Reporter">
	<article class="list">
		<p id = "pc-24"><strong>PC-24 reporter:</strong> <span style = "padding-top: 25px;">Hey, hello! It's good that you came. Look, it's been quiet lately. Let's arrange a party? Can you help me come up with a name of it? I will take care of myself about the rest!</span></p>
	</article>
	<img id = "pcb-image" src="" alt="Blog">
	<article class="list">
		<p id = "pcb"><strong>PCB blog:</strong> <span style = "padding-top: 25px;">Hey, hello! It's good that you came. Look, it's been quiet lately. Let's arrange a party? Can you help me come up with a name of it? I will take care of myself about the rest!</span></p>
	</article>
</section>
<br>
