<h1>Meeting with government</h1>
 <section class = "single-block" id="government-meeting">
 	<img src="assets/img/government/secretary.png" alt="Secretry">
 	<article class = "double-conversation" id="conversation">
 		<p><strong>Secretary:</strong> <span>The government is quite busy rigth now, but several ministers are ready to give you time. They are the chief doctor, the police captain and the city judge. Who would you like to meet with?</span></p>
 		<p>
 			<strong>You: </strong> 
 			<span>
 				<a href = "javascript:void(0);" onClick="callGovernment('chiefDoctor');" >1. I'd like to meet with Chief Doctor.</a><br/>
 				<a href = "javascript:void(0);" onClick="callGovernment('policeCaptain');" >2. I'd like to meet with Police Captain.</a><br/>
 				<a href = "javascript:void(0);" onClick="callGovernment('cityJudge');" >3. I'd like to meet with City Judge.</a><br/>
 				<a href = "javascript:void(0);" data-remodal-action="cancel">4. Not now, thank you.</a>
 			</span>
 		</p>
 	</article>
 </section>
<br>