<h1>Meeting with government</h1>
 <section class = "single-block" id="government-meeting">
 	<img src="assets/img/government/secretary.png" alt="Secretry">
 	<article class = "double-conversation" id="conversation">
 		<p><strong>Secretary:</strong> <span>The government is quite busy rigth now, but several ministers are ready to give you time. They are the minister of health, the minister of defense and the chairman of the city parliament. Who would you like to meet with?</span></p>
 		<p>
 			<strong>You: </strong> 
 			<span>
 				<a href = "javascript:void(0);" onClick="callGovernment('Minister Of Health');" >1. I'd like to meet with Minister of Health.</a><br/>
 				<a href = "javascript:void(0);" onClick="callGovernment('Minister Of Defense');" >2. I'd like to meet with Minister of Defense.</a><br/>
 				<a href = "javascript:void(0);" onClick="callGovernment('Chairman Of The City Parliament');" >3. I'd like to meet with Chairman of the city parliament.</a><br/>
 				<a href = "javascript:void(0);" data-remodal-action="cancel">4. Not now, thank you.</a>
 			</span>
 		</p>
 	</article>
 </section>
<br>