<h1>Meeting with government</h1>
 <section id="government-meeting">
 	<img src="assets/img/government/secretary.png" alt="Secretry">
 	<article id="conversation">
 		<p><strong>Secretary:</strong> The government is quite busy rigth now, but several ministers are ready to give you time. They are the chief doctor, the police captain and the city judge. Who would you like to meet with?</p>
 		<p>
 			<strong>You: </strong> 
 			<span>
 				<a href = "javascript:void(0);" onClick="callChiefDoctor();" >I would like to meet with Chief Doctor.</a><br/>
 				<a href = "javascript:void(0);" onClick="callPoliceCaptain();" >I would like to meet with Police Captain.</a><br/>
 				<a href = "javascript:void(0);" onClick="callCityJudge();" >I would like to meet with City Judge.</a><br/>
 				<a href = "javascript:void(0);" data-remodal-action="cancel">Not now, thank you.</a>
 			</span>
 		</p>
 	</article>
 </section>
<br>